<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      name="keywords"
      content="Australian, Italian, Mobile,European, Hot-Food"
    />
    <title>Mobile Panini</title>

    <link rel="stylesheet" href="/css/mp_layout.css">
   
  </head>
  <body>
    <header>
      <a href="index.html"> <img src="/images/mp_logo.png" alt="Mobile Panini"/></a>
      <nav>
        <ul>
          <li><a href="index.html" alt="Home"> Home </a></li>
          <li><a href="mp_menu_txt.html" alt="Menu"> Menu </a></li>
          <li><a href="mp_catering_txt.html" alt="Events"> Events </a></li>
          <li><a href="mp_catering_txt.html" alt="Catering"> Catering</a></li>
        </ul>
      </nav>
    </header>
   